---
const { navn, email, rolle, billede, aktiv, type } = Astro.props;
---

<article class={type}>
  <img src={billede} alt={navn} />
  <h3>{navn}</h3>
  <p>{email}</p>
  <p>{rolle}</p>
  {aktiv && <p class="aktiv">ON SALE</p>}
</article>

<!-- <article class="square">
  <img src={billede} alt={navn} />
  <h3>{navn}</h3>
  <p>{email}</p>
  <p>{rolle}</p>
  {aktiv && <img src="../images/Spotify_Primary_Logo_RGB_Green.png" />}
</article> -->

<style>
  h1,
  h2,
  h3,
  p {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  article {
    position: relative;
    background: linear-gradient(135deg, #3a29d4, #05033e);
    padding: 1rem;
  }
  .round img {
    max-width: 100%;
    border-radius: 100%;
    border-width: 3px;
    border-color: white;
    object-fit: contain;
  }

  .square img {
    max-width: 100%;
    border-width: 3px;
    border-color: white;
    object-fit: contain;
  }

  .aktiv {
    position: absolute;
    top: 0.3%;
    right: 0.3%;
    rotate: 5deg;
    background: linear-gradient(135deg, #f7df02, #e30606);
    margin: 1rem;
    padding: 5px;
    color: white;
  }
</style>
